{% load filters %}

<!--mobile header-->
<div
    class="
        static
        col-span-2
        md:hidden
        lg:row-span-1
        ring-1 
        dark:ring-white/10 
        ring-primary/5 
        bg-white 
        dark:bg-secondary
        dark:shadow-thick
        rounded-lg p-4">

      <!--user info-->
    <a class="w-full" id="settingsButton">
        <div class="relative flex items-center gap-4">
            <div class="flex justify-center">
                <button
                    id="settingsButton"
                    class="
                    w-9 h-9
                    rounded-md
                    text-zinc-700
                    bg-zinc-200
                    dark:text-zinc-100
                    dark:bg-tertiary">
                    {{ request.user.name | first }}
                </button>
            </div>
            <div class="text-sm leading-5">
                <p class="font-semibold text-primary dark:text-white">
                    {{ request.user.name | first_name | capfirst }}
                </p>
                <p class="text-zinc-500 dark:text-zinc-400">
                    {{ request.user.email }}
                </p>
            </div>
        </div>
    </a>
    
</div>