{% extends "base.html" %}
{% load static %}

{% block page %}
<div
    class="
            flex
            fixed
            inset-0 z-50 
            justify-center items-center
            bg-black/0">        

    <div 
        class=
            "ring-1
            ring-primary/10
            dark:ring-white/15
            bg-white/100 dark:bg-secondary
            p-6 
            sm:w-4/12
            w-10/12
            rounded-xl
            shadow-xl
            relative">

        <button id="closePassword" class="absolute top-4 right-4 text-lg text-black px-4 py-2 rounded"></button>


        <div>
            <a
                href="{% url "users:login" %}" 
                class="
                    absolute
                    flex
                    top-4
                    text-xs
                    text-zinc-400 dark:text-white/60">
                <svg class="w-4 h-4 text-zinc-400 dark:text-white/60" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                </svg>                      
            </a>    
        </div>          

        <kbd class="flex text-xl font-semibold mt-10 justify-center text-black dark:text-zinc-300">
            recuperar senha
        </kbd>

        <form
            action="{% url "reset_password" %}"
            method="POST"
            class="ml-auto mr-auto mt-8">
            {% csrf_token %}
            <!-- email -->
            <div class="border border-zinc-300 focus-within:border-black dark:focus-within:border-zinc-300 dark:border-zinc-700 bg-white dark:bg-tertiary rounded-md">
                <div class="relative flex items-center justify-between p-1">
                    <label for="email" class="text-xs text-zinc-500 dark:text-zinc-400"></label>
                    <input 
                        autofocus
                        type="email" 
                        id="email" 
                        name="email" 
                        class="w-full text-xs text-black/80 dark:text-white/60 dark:placeholder:text-white/60 p-2 bg-transparent outline-none" 
                        placeholder="email" />
                </div>
            </div>
            {% if form.errors %}
            {% for field, errors in form.errors.items %}
              {% if field == 'email' %}
                {% for error in errors %}
                  <p>
                    <span 
                        class="
                            inline-flex
                            text-xs 
                            text-zinc-500 
                            dark:text-zinc-400">
                      • {{ error | lower | cut:"." | cut:" por favor, informe-a novamente" }}
                    </span>    
                  </p>
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endif %}            
        
            <!-- Submit Button -->
            <div class="mt-6 text-start">
                <button 
                    type="submit" 
                    class="text-xs rounded-md px-4 py-1 ring-1 ring-black/80 dark:ring-white/70 bg-white dark:bg-tertiary hover:bg-zinc-50 dark:hover:bg-primary text-black/80 dark:text-white/70">
                    enviar email
                </button>
            </div>
        </form>    
        
        <p class="mt-10"></p>
        
    </div>
</div>
{% endblock page %}

<script src="{% static "js/password.js" %}"></script>