{% load filters %}

<div
    class="
        relative
        col-span-2
        rounded-lg
        mt-2">      

    <!--back button-->
    <div class="absolute top-1 left-0 sm:left-3 flex items-center">
        <div class="flex justify-center">
            <a 
                href="{% url "erp:index" %}"
                class="w-9 h-9">
                <svg class="w-6 h-6 text-zinc-400 dark:text-white/60" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                </svg> 
            </a>
        </div>
    </div>

    <!--add contato button-->
    <div
        class="
            absolute
            items-center
            grid
            grid-cols-1 gap-0
            right-3 top-0
            w-fit">

        <a
            href="{% url "finance:caixa" %}"
            class="
            relative  
            rounded-full">        
            <svg class="size-[30px] fill-black dark:fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M17.834 6.166a8.25 8.25 0 1 0 0 11.668.75.75 0 0 1 1.06 1.06c-3.807 3.808-9.98 3.808-13.788 0-3.808-3.807-3.808-9.98 0-13.788 3.807-3.808 9.98-3.808 13.788 0A9.722 9.722 0 0 1 21.75 12c0 .975-.296 1.887-.809 2.571-.514.685-1.28 1.179-2.191 1.179-.904 0-1.666-.487-2.18-1.164a5.25 5.25 0 1 1-.82-6.26V8.25a.75.75 0 0 1 1.5 0V12c0 .682.208 1.27.509 1.671.3.401.659.579.991.579.332 0 .69-.178.991-.579.3-.4.509-.99.509-1.671a8.222 8.222 0 0 0-2.416-5.834ZM15.75 12a3.75 3.75 0 1 0-7.5 0 3.75 3.75 0 0 0 7.5 0Z" clip-rule="evenodd" />
            </svg>              
        </a>    
    </div>  
    
</div>

