{% load static %}

<div class="
    overflow-hidden
    mt-1
    sm:px-4
    col-span-2
    relative">

    <div class="
        relative
        overflow-auto
        flex">

        <div class="overflow-x-auto flex gap-2 no-scrollbar">
            <button id=""
                class="
                p-4
                relative  
                rounded-lg
                bg-white 
                dark:bg-secondary         
                min-h-[150px] sm:min-h-[200px]
                min-w-[150px] sm:min-w-[200px]
                flex-shrink-0">     
                <p 
                    class="
                    absolute
                    text-sm text-black/40 dark:text-white/40
                    top-4">
                    nubank
                </p>           
                <p
                    class="
                    absolute
                    text-sm text-black/40 dark:text-white/40
                    bottom-4">
                    R$
                    <span class="text-black dark:text-white text-lg">492,00</span>
                </p>
            </button>
            <button id=""
                class="
                p-4
                relative  
                rounded-lg
                bg-white 
                dark:bg-secondary         
                min-h-[150px] sm:min-h-[200px]
                min-w-[150px] sm:min-w-[200px]
                flex-shrink-0">     
                <p 
                    class="
                    absolute
                    text-sm text-black/40 dark:text-white/40
                    top-4">
                    bradesco
                </p>           
                <p
                    class="
                    absolute
                    text-sm text-black/40 dark:text-white/40
                    bottom-4">
                    R$
                    <span class="text-black dark:text-white text-lg">200,00</span>
                </p>
            </button>
            <button id=""
                class="
                p-4
                relative  
                rounded-lg
                bg-white 
                dark:bg-secondary         
                min-h-[150px] sm:min-h-[200px]
                min-w-[150px] sm:min-w-[200px]
                flex-shrink-0">     
                <p 
                    class="
                    absolute
                    text-sm text-black/40 dark:text-white/40
                    top-4">
                    banco do brasil
                </p>           
                <p
                    class="
                    absolute
                    text-sm text-black/40 dark:text-white/40
                    bottom-4">
                    R$
                    <span class="text-black dark:text-white text-lg">900,00</span>
                </p>
            </button>            
        </div>    
    </div>
</div>