{% load static %}
{% load filters %}

<div class="
    overflow-hidden
    sm:px-3
    col-span-2
    relative">

    <div class="
        relative
        overflow-auto
        flex">

        <div class="overflow-x-auto p-1 flex gap-2 no-scrollbar">
            {% for bank in user.company.banks.all  %}
            <button id=""
                class="
                ring-1 ring-black/5 dark:ring-white/10
                p-4
                relative  
                rounded-lg
                shadow-sm
                bg-white 
                dark:bg-secondary         
                min-h-[150px] sm:min-h-[200px]
                min-w-[150px] sm:min-w-[200px]
                flex-shrink-0">     
                <kbd 
                    class="
                    absolute
                    text-sm sm:text-[17px] text-black/40 dark:text-white/50
                    top-4 left-4">
                    {{ bank.name | lower }}
                </kbd>
                {% if bank.saldo|stringformat:"s"|length == 10 or bank.saldo|stringformat:"s"|length == 11 %} 
                <p
                    class="
                    hidden sm:block
                    absolute
                    text-sm text-black/40 dark:text-white/50
                    bottom-10 sm:bottom-4 left-4">
                    R$
                    <span class="text-black dark:text-white text-lg">
                        {{ bank.saldo | format_money }}
                    </span>                    
                </p>
                <p class="absolute bottom-10 left-4 text-sm text-black/40 dark:text-white/50 block sm:hidden">
                    R$
                </p>  
                <p class="absolute bottom-4 left-4 text-black dark:text-white text-lg block sm:hidden">
                    {{ bank.saldo | format_money }}
                </p>           
                {% else %}
                <p
                    class="
                    absolute
                    text-sm text-black/40 dark:text-white/50
                    bottom-4 left-4">
                    R$
                    <span class="text-black dark:text-white text-lg">
                        {{ bank.saldo | format_money }}
                    </span>
                </p>                
                {% endif %}
            </button>
            {% endfor %}
            <!--+-->
            <button id=""
                class="
                ring-1
                ring-black/5 dark:ring-white/10
                relative  
                rounded-lg
                dark:bg-primary         
                min-h-[150px] sm:min-h-[200px]
                min-w-[150px] sm:min-w-[200px]
                flex-shrink-0">    
                <div class="">   
                    <svg class="w-8 h-8 text-black/20 dark:text-white/20 ml-auto mr-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="5" height="5" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>     
                </div>
            </button>                           
        </div>    
    </div>
</div>