{% load static %}

<div class="
    overflow-hidden
    p-1 sm:px-4
    col-span-2
    relative">

    <div class="
        relative
        overflow-auto
        flex">

        <div class="overflow-x-auto flex gap-4 no-scrollbar">
            <div class="   
                rounded-lg
                bg-white 
                dark:bg-secondary         
                min-h-[150px] sm:min-h-[200px]
                min-w-[150px] sm:min-w-[200px]
                flex-shrink-0">                
            </div>
            <div class="   
                rounded-lg
                bg-white 
                dark:bg-secondary         
                min-h-[150px] sm:min-h-[200px]
                min-w-[150px] sm:min-w-[200px]
                flex-shrink-0">                
            </div>
            <div class="   
                rounded-lg
                bg-white 
                dark:bg-secondary         
                min-h-[150px] sm:min-h-[200px]
                min-w-[150px] sm:min-w-[200px]
                flex-shrink-0">                
            </div>
        </div>    
    </div>
</div>