<div
    class="    
        rounded-lg 
        lg:grid-cols-none        
        row-span-2
        row-start-2
        col-span-2         
        lg:row-start-2
        lg:col-start-1
        xl:row-start-2     
        lg:gap-0
        flex
        relative
        flex-col
        justify-between">
    
    <div>        
        <!--bottom-left text-->
        <div class="absolute top-0 left-4">
            <p class="text-sm sm:text-lg text-zinc-400 dark:text-white/40">
                saldo total
            </p>    
            <p class="text-[22px] md:text-3xl text-black dark:text-white">
                <span class="text-sm md:text-lg text-zinc-400">
                    R$
                </span>
                1.592
            </p>
        </div>
    </div>

</div>