{% load static %}
{% load filters %}

<div id="editBankAccount" 
    class="
    overflow-hidden
    col-span-2    
    hidden
    fixed
    inset-0 z-50 
    justify-center items-center
    bg-background/20 dark:bg-black/40 backdrop-blur-md">

    <div class="
        relative
        overflow-auto
        flex
        h-[75%] w-11/12
        sm:h-3/5 lg:w-4/12 md:w-7/12">

        <div class="overflow-x-auto p-2 flex gap-3 no-scrollbar">
            {% for bank in banks  %}
            <div
                class="
                ring-1 
                ring-black/5 dark:ring-white/30
                bg-white
                dark:bg-black      
                shadow-md         
                p-4
                relative  
                rounded-2xl
                h-full w-full
                flex-shrink-0">     

                <form action="{% url "finance:caixa" %}" method="POST" class="">
                    {% csrf_token %}
                    <div
                        class="px-1 mt-6 text-[26px] sm:text-[30px] text-start tracking-normal sm:tracking-normal text-black/50 dark:text-white/50">
                        <kbd>{{ bank.name | lower }}</kbd>
                    </div>

                    <div class="relative justify-center items-center px-1 mb-8">
                        <label class="flex text-black/40 dark:text-white/40 text-lg">
                            R$
                            <input
                                class="valor px-1 w-fit text-lg outline-none bg-transparent text-black/40 dark:text-white/40 placeholder:text-black/40 dark:placeholder:text-white/40"
                                name="saldo"
                                id="saldo"
                                value="{{ bank.saldo | format_money }}"
                                inputmode="decimal"
                                placeholder="0,00">
                            </input>
                        </label>
                    </div>   
        
                    <div class="flow-root py-2 mt-2 rounded-lg bg-background dark:bg-secondary ring-1 ring-black/10 dark:ring-white/20">
                        <dl class="-my-3 divide-y divide-black/5 dark:divide-white/5 text-sm">
                      
                          <div class="grid grid-cols-1 gap-1 p-3">
                            <dt class="text-black/70 dark:text-white/70">nome</dt>
                            <input
                                required
                                name="name"
                                id="name"
                                value="{{ bank.name | lower }}"
                                placeholder="..."
                                class="text-black/40 dark:text-white/40 placeholder:text-black/40 placeholder:dark:text-white/40 bg-transparent outline-none sm:col-span-2 text-start">
                            </input>
                          </div>
                      
                          <div class="grid grid-cols-1 gap-1 p-3">
                            <dt class="text-black/70 dark:text-white/70">agência</dt>
                            <input
                                name="agencia"
                                id="agencia"
                                {% if bank.conta == "None" %}value="{{ bank.conta }}" {% endif %}
                                placeholder="..."
                                class="text-black/40 dark:text-white/40 placeholder:text-black/40 placeholder:dark:text-white/40 bg-transparent outline-none sm:col-span-2 text-start">
                            </input>
                          </div>
        
                          <div class="grid grid-cols-1 gap-1 p-3">
                            <dt class="text-black/70 dark:text-white/70">conta</dt>
                            <input
                                name="conta"
                                id="conta"
                                {% if bank.conta == "None" %}value="{{ bank.conta }}" {% endif %}
                                placeholder="..."
                                class="text-black/40 dark:text-white/40 placeholder:text-black/40 placeholder:dark:text-white/40 bg-transparent outline-none sm:col-span-2 text-start">
                            </input>
                          </div>                  
                        </dl>
                    </div>
        
                    <!--bottom-right submit button-->  
                    <div class="absolute bottom-3 right-1 text-sm leading-5">
                        <p
                            class="
                                px-2
                                group
                                flex 
                                w-fit
                                items-center justify-center 
                                rounded-full">
                            <button
                                type="submit" 
                                name="add-account"
                                class="text-sm font-semibold text-black items-center dark:text-white">
                                <svg class="w-6 h-6 text-black/75 dark:text-white/75" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>                                                            
                            </button>
                        </p>
                    </div>                   
                </form>                

            </div>
            {% endfor %}                         
        </div>   
        
        <!--empty closeHistory button-->  
        <div class="absolute top-4 left-5 sm:left-4 text-sm leading-5">
            <button id="closeBankAccount">             
            </button>
        </div>            
    </div>
</div>

<script src="{% static "js/finance/editAccount.js" %}"></script>