{% load static %}
{% load filters %}

<div id="editBankAccount" 
    class="
    overflow-hidden
    px-4 sm:px-7
    col-span-2    
    hidden
    fixed
    inset-0 z-50 
    justify-center items-center
    dark:bg-black/25 backdrop-blur-sm">

    <div class="
        relative
        overflow-auto
        flex
        w-full min-h-[150px] sm:min-h-[200px]
        rounded-lg">

        <div class="overflow-x-auto px-1 pt-1 pb-5 flex gap-2 no-scrollbar">
            {% for bank in banks  %}
            <a id="" href="?banco={{ bank.id }}{% if request.GET.data %}&data={{ request.GET.data }}{% endif %}"
                class="
                {% if request.GET.banco == bank.id|stringformat:'s' %}
                    ring-1 
                    shadow-lg shadow-black/10
                    ring-black/10 dark:ring-white/30
                    bg-white/60
                    dark:bg-white/5     
                {% else %}
                    ring-1 
                    shadow-sm
                    ring-black/15 dark:ring-white/20
                    bg-white 
                    dark:bg-secondary     
                {% endif %}                
                p-4
                relative  
                rounded-lg 
                min-h-[150px] sm:min-h-[200px]
                min-w-[150px] sm:min-w-[200px]
                flex-shrink-0">     
                <p 
                    class="
                    absolute
                    text-sm sm:text-[15px] text-black/40 dark:text-white/50
                    top-4 left-4">
                    {{ bank.name | lower }}
                </p>
                {% if bank.saldo|stringformat:"s"|length == 10 or bank.saldo|stringformat:"s"|length == 11 %} 
                <p
                    class="
                    hidden sm:block
                    absolute
                    text-sm text-black/40 dark:text-white/50
                    bottom-10 sm:bottom-4 left-4">
                    R$
                    <span class="text-black dark:text-white text-lg">
                        {{ bank.saldo | format_money }}
                    </span>                    
                </p>
                <p class="absolute bottom-10 left-4 text-sm text-black/40 dark:text-white/50 block sm:hidden">
                    R$
                </p>  
                <p class="absolute bottom-4 left-4 text-black dark:text-white text-lg block sm:hidden">
                    {{ bank.saldo | format_money }}
                </p>           
                {% else %}
                <p
                    class="
                    absolute
                    text-sm text-black/40 dark:text-white/50
                    bottom-4 left-4">
                    R$
                    <span class="text-black dark:text-white text-lg">
                        {{ bank.saldo | format_money }}
                    </span>
                </p>                
                {% endif %}
            </a>
            {% endfor %}                         
        </div>   
        
        <!--empty closeHistory button-->  
        <div class="absolute top-4 left-5 sm:left-4 text-sm leading-5">
            <button id="closeBankAccount">             
            </button>
        </div>            
    </div>
</div>

<script src="{% static "js/finance/editAccount.js" %}"></script>