{% load static %}
{% load filters %}

<div id="editBankAccount" 
    class="
    overflow-hidden
    col-span-2    
    hidden
    fixed
    inset-0 z-50 
    justify-center items-center
    bg-background/20 dark:bg-black/40 backdrop-blur-md">

    <div class="
        relative
        overflow-auto
        flex
        min-h-[150px] max-w-[260px] sm:min-h-fit sm:max-w-[410px]
        rounded-lg">

        <div class="overflow-x-auto p-2 py-4 flex gap-3 no-scrollbar">
            {% for bank in banks  %}
            <a
                class="
                ring-1 
                shadow-lg dark:shadow-thick shadow-black/10 dark:shadow-primary
                ring-black/20 dark:ring-white/30
                bg-white
                dark:bg-black                   
                p-4
                relative  
                rounded-lg 
                min-h-[300px] sm:min-h-[400px]
                min-w-[250px] sm:min-w-[400px]
                flex-shrink-0">     
                <p 
                    class="
                    absolute
                    text-sm sm:text-[15px] text-black/40 dark:text-white/50
                    top-4 left-4">
                    {{ bank.name | lower }}
                </p>
                {% if bank.saldo|stringformat:"s"|length == 10 or bank.saldo|stringformat:"s"|length == 11 %} 
                <p
                    class="
                    hidden sm:block
                    absolute
                    text-sm text-black/40 dark:text-white/50
                    bottom-10 sm:bottom-4 left-4">
                    R$
                    <span class="text-black dark:text-white text-lg">
                        {{ bank.saldo | format_money }}
                    </span>                    
                </p>
                <p class="absolute bottom-10 left-4 text-sm text-black/40 dark:text-white/50 block sm:hidden">
                    R$
                </p>  
                <p class="absolute bottom-4 left-4 text-black dark:text-white text-lg block sm:hidden">
                    {{ bank.saldo | format_money }}
                </p>           
                {% else %}
                <p
                    class="
                    absolute
                    text-sm text-black/40 dark:text-white/50
                    bottom-4 left-4">
                    R$
                    <span class="text-black dark:text-white text-lg">
                        {{ bank.saldo | format_money }}
                    </span>
                </p>                
                {% endif %}
            </a>
            {% endfor %}                         
        </div>   
        
        <!--empty closeHistory button-->  
        <div class="absolute top-4 left-5 sm:left-4 text-sm leading-5">
            <button id="closeBankAccount">             
            </button>
        </div>            
    </div>
</div>

<script src="{% static "js/finance/editAccount.js" %}"></script>