{% load filters %}

<div
    class="
        col-span-2
        rounded-lg
        h-fit
        p-2 sm:p-4">      

    <!--user info-->
    <a class="w-full" id="settingsButton">
        <div class="relative flex items-center">
            <div class="flex justify-center">
                <button
                    id="settingsButton"
                    class="
                    w-9 h-9
                    rounded-md
                    text-zinc-700
                    bg-black/5
                    dark:text-zinc-100
                    dark:bg-tertiary">
                    {{ request.user.name | first }}
                </button>
            </div>
        </div>
    </a>

    <div
    class="
        rounded-lg 
        lg:grid-cols-none        
        row-span-2
        row-start-2
        col-span-2         
        lg:row-start-2
        lg:col-start-1
        xl:row-start-2     
        lg:gap-0
        relative
        justify-between">
    
    <div class="mt-6">        
        <!--saldo total-->
        <div class="top-0">
            <p class="text-[15px] sm:text-lg text-zinc-500 dark:text-white/50">
                saldo total
            </p>    
            <p class="text-[22px] sm:text-2xl text-black dark:text-white">
                <span class="text-sm sm:text-lg text-zinc-500 dark:text-white/50">
                    R$
                </span>
                {{ saldo_total | format_money }}
            </p>
        </div>

        <!--transaction buttons-->
        <div
            class="
                mt-2 sm:mt-3
                w-full md:w-fit
                grid grid-cols-3 gap-3">

            <button id=""
                class="
                    rounded-full
                    p-[6px] px-2 sm:px-4
                    bg-tertiary dark:bg-background
                    hover:bg-black/65 dark:hover:bg-white/80">
                <svg class="w-[15px] sm:w-[18px] h-[15px] sm:h-[18px] text-white dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M5 12h14m-7 7V5"/>
                </svg>   
                    
            </button>

            <button id=""
                class="
                    rounded-full
                    p-[6px] px-2 sm:px-4
                    bg-tertiary dark:bg-background
                    hover:bg-black/65 dark:hover:bg-white/80">
                <svg class="w-[15px] sm:w-[18px] h-[15px] sm:h-[18px] text-white dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M5 12h14"/>
                    </svg>                  
            </button>

            <button id=""
                class="
                    rounded-full
                    p-[6px] px-2 sm:px-4
                    bg-tertiary dark:bg-background
                    hover:bg-black/65 dark:hover:bg-white/80">
                <svg class="w-[15px] sm:w-[18px] h-[15px] sm:h-[18px] text-white dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M4 16h13M4 16l4-4m-4 4 4 4M20 8H7m13 0-4 4m4-4-4-4"/>
                    </svg>                                      
            </button>      
        </div> 
    </div>

</div>    
    
</div>

