{% load static %}

<!--filter buttons-->    
<div class="
    overflow-hidden
    sm:px-3
    col-span-2
    relative">
    <div class="
        relative
        overflow-auto
        flex">
        
        <div class="overflow-x-auto px-2 pb-1 pt-6 sm:pt-8 flex gap-3 no-scrollbar">
        <a id="hoje" href="{% url "finance:caixa" %}?data=hoje"
            class="
            tracking-wide
            px-3 sm:px-3 py-[1.5px] sm:py-[3px]
            ring-1
            text-[13px]
            {% if request.GET.data == 'hoje' %}
                bg-blue-50 dark:bg-blue-950
                text-blue-500 dark:text-blue-200
                ring-blue-500 dark:ring-blue-500
            {% else %}
                text-black/40 dark:text-white/55
                ring-black/10 dark:ring-white/20
                dark:bg-primary
            {% endif %}
            relative  
            rounded-full flex-shrink-0">    
            <span>hoje</span>
        </a> 

        <a id="semana" href="{% url "finance:caixa" %}?data=semana"
            class="
            tracking-wide
            px-3 sm:px-3 py-[1.5px] sm:py-[3px]
            ring-1
            text-[13px]
            {% if request.GET.data == 'semana' %}
                bg-blue-50 dark:bg-blue-950
                text-blue-500 dark:text-blue-200
                ring-blue-500 dark:ring-blue-500
            {% else %}
                text-black/40 dark:text-white/55
                ring-black/10 dark:ring-white/20
                dark:bg-primary
            {% endif %}
            relative  
            rounded-full flex-shrink-0">     
            <span class="">semana</span>
        </a>  

        <a id="mes" href="{% url "finance:caixa" %}?data=mes"
            class="
            tracking-wide
            px-3 sm:px-3 py-[1.5px] sm:py-[3px]
            ring-1
            text-[13px]
            {% if request.GET.data == 'mes' %}
                bg-blue-50 dark:bg-blue-950
                text-blue-500 dark:text-blue-200
                ring-blue-500 dark:ring-blue-500
            {% else %}
                text-black/40 dark:text-white/55
                ring-black/10 dark:ring-white/20
                dark:bg-primary
            {% endif %}
            relative  
            rounded-full flex-shrink-0">  
            <span class="">novembro</span>
        </a>   

        <a id="periodo" href="{% url "finance:caixa" %}?data=periodo"
            class="
            tracking-wide
            px-3 sm:px-3 py-[1.5px] sm:py-[3px]
            ring-1
            text-[13px]
            {% if request.GET.data == 'periodo' %}
                bg-blue-50 dark:bg-blue-950
                text-blue-500 dark:text-blue-200
                ring-blue-500 dark:ring-blue-500
            {% else %}
                text-black/40 dark:text-white/55
                ring-black/10 dark:ring-white/20
                dark:bg-primary
            {% endif %}
            relative  
            rounded-full flex-shrink-0">  
            <span class="">período</span>
        </a>                                          
        </div>    
    </div>
</div>


<div class="
    overflow-hidden
    sm:px-3
    col-span-2
    relative">

    <div class="
        relative
        overflow-auto
        flex">

        <div class="overflow-x-auto p-1 flex gap-2 no-scrollbar">
            <button id=""
                class="
                ring-1 ring-black/5 dark:ring-white/10
                p-4
                relative  
                rounded-lg
                shadow-sm
                bg-background
                dark:bg-secondary         
                min-h-[50px] sm:min-h-[60px]
                min-w-[150px] sm:min-w-[200px]">   
                <p
                    class="
                    absolute
                    p-1
                    text-xs sm:text-sm text-black/40 dark:text-white/50
                    top-0 left-2">
                    recebimentos
                </p>                      
                <p
                    class="
                    absolute
                    p-1
                    text-xs sm:text-sm text-black/40 dark:text-white/50
                    bottom-0 left-2">
                    R$
                    <span class="text-black dark:text-white text-base sm:text-lg">
                        {{ recebimentos }}
                    </span>
                </p>                
            </button>    
            
            <button id=""
                class="
                ring-1 ring-black/5 dark:ring-white/10
                p-4
                relative  
                rounded-lg
                shadow-sm
                bg-background
                dark:bg-secondary         
                min-h-[50px] sm:min-h-[60px]
                min-w-[150px] sm:min-w-[200px]">   
                <p
                    class="
                    absolute
                    p-1
                    text-xs sm:text-sm text-black/40 dark:text-white/50
                    top-0 left-2">
                    pagamentos
                </p>                      
                <p
                    class="
                    absolute
                    p-1
                    text-xs sm:text-sm text-black/40 dark:text-white/50
                    bottom-0 left-2">
                    R$
                    <span class="text-black dark:text-white text-base sm:text-lg">
                        {{ pagamentos }}
                    </span>
                </p>                
            </button>    
            
            {% if balanco > 0 %}
            <button id=""
                class="
                ring-1 ring-green-600/20 dark:ring-green-500/45
                p-4
                relative  
                rounded-lg
                shadow-sm
                bg-green-100/50
                dark:bg-green-900/40
                min-h-[50px] sm:min-h-[60px]
                min-w-[150px] sm:min-w-[200px]">   
                <p
                    class="
                    absolute
                    p-1
                    text-xs sm:text-sm text-green-600/90 dark:text-green-200/50
                    top-0 left-2">
                    balanço
                </p>                      
                <p
                    class="
                    absolute
                    p-1
                    text-xs sm:text-sm text-green-600/90 dark:text-green-200/50
                    bottom-0 left-2">
                        R$
                    <span class="text-green-600 dark:text-green-300/80 text-base sm:text-lg">
                        {{ balanco }}
                    </span>
                </p>                
            </button>      
            {% else %}
            <button id=""
                class="
                ring-1 ring-red-600/10 dark:ring-red-500/45
                p-4
                relative  
                rounded-lg
                shadow-sm
                bg-red-50/80
                dark:bg-red-900/40
                min-h-[50px] sm:min-h-[60px]
                min-w-[150px] sm:min-w-[200px]">   
                <p
                    class="
                    absolute
                    p-1
                    text-xs sm:text-sm text-red-400/90 dark:text-red-200/50
                    top-0 left-2">
                    balanço
                </p>                      
                <p
                    class="
                    absolute
                    p-1
                    text-xs sm:text-sm text-red-400/90 dark:text-red-200/50
                    bottom-0 left-2">
                        R$
                    <span class="text-red-500 dark:text-red-100/90 text-base sm:text-lg">
                        {{ balanco }}
                    </span>
                </p>                
            </button>               
            {% endif %}       
        </div>    
    </div>
</div>

<!--history table-->
<div 
    class="
        w-full
        col-span-2
        p-1 sm:px-4">
    <div 
    class="
        relative
        ring-1 ring-black/5
        bg-white dark:bg-secondary
        rounded-lg
        w-full 
        p-4">
       
    <div class="overflow-x-auto no-scrollbar">
        <div>
            <table class="min-w-full table-fixed text-start text-sm">
                <colgroup>
                    <col class="w-fit">
                    <col class="w-full sm:w-fit">
                    <col class="w-fit">
                    <col class="w-fit">
                    <col class="w-fit">
                    <col class="w-fit">
                </colgroup>            

                {% for date, transactions in transactions_group.items %}
                    <thead>
                        <tr>
                            <th colspan="6" class="text-sm font-normal text-black/40 dark:text-white/45 text-left">
                                <kbd>{{ date|date:"d M" | upper }}</kbd>
                            </th>
                        </tr>
                    </thead>

                    {% for transaction in transactions %}
                    <tbody>
                        <tr class="cursor-pointer hover:bg-background dark:hover:bg-black/20" onclick="historyButton()">
                            {% if transaction.tipo == 'pagar' %}
                            <td class="whitespace-nowrap p-4 text-black/60 dark:text-white/65 rounded-s-3xl">
                                <button class="rounded-full p-[6px] border border-black/60 dark:border-white/65">
                                    <svg class="w-[15px] sm:w-[18px] h-[15px] sm:h-[18px] text-black/60 dark:text-white/65" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M5 12h14"/>
                                    </svg>                                       
                                </button>
                            </td>
                            {% elif transaction.tipo == 'receber' %}
                            <td class="whitespace-nowrap p-4 text-black/60 dark:text-white/65 rounded-s-3xl">
                                <button class="rounded-full p-[6px] border border-black/60 dark:border-white/65">
                                    <svg class="w-[15px] sm:w-[18px] h-[15px] sm:h-[18px] text-black/60 dark:text-white/65" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M5 12h14m-7 7V5"/>
                                    </svg>                                       
                                </button>
                            </td>
                            {% else %}
                            <td class="whitespace-nowrap p-4 text-black/60 dark:text-white/65 rounded-s-3xl">
                                <button class="rounded-full p-[6px] border border-black/60 dark:border-white/65">
                                    <svg class="w-[15px] sm:w-[18px] h-[15px] sm:h-[18px] text-black/60 dark:text-white/65" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M4 16h13M4 16l4-4m-4 4 4 4M20 8H7m13 0-4 4m4-4-4-4"/>
                                    </svg>                                       
                                </button>
                            </td>
                            {% endif %}
                            <td class="whitespace-nowrap p-4 text-black/60 dark:text-white/65">R$ {{ transaction.valor }}</td>
                            <td class="whitespace-nowrap p-4 text-black/60 dark:text-white/65 text-end sm:text-start sm:rounded-none rounded-e-3xl">
                                <span class="ring-1 ring-black/15 dark:ring-white/20 rounded-md px-[6px] py-[2px] text-[13px] sm:text-sm">
                                    <kbd>{{ transaction.conta }}</kbd>
                                </span>
                            </td>
                            <td class="whitespace-normal p-4 text-black/60 dark:text-white/65 font-semibold hidden sm:table-cell">{{ transaction.contato | lower }}</td>
                            <td class="whitespace-normal p-4 text-black/60 dark:text-white/65 italic hidden sm:table-cell">{{ transaction.descricao | lower }}</td>
                            <td class="whitespace-nowrap p-4 text-black/60 dark:text-white/65 rounded-e-3xl hidden sm:table-cell ">
                                <span class="bg-background dark:bg-white/10 ring-1 ring-black/15 dark:ring-white/20 rounded-full px-[8px] py-[2px] text-[12px]">
                                    {{ transaction.created | date:"d M, Y" | upper }}
                                </span>
                            </td>
                        </tr>       
                    </tbody>    
                    {% endfor %} 

                    {% if not forloop.last %}
                    <tbody>
                        <tr class="h-8"></tr>
                    </tbody>     
                    {% endif %}   
                {% endfor %}     
            </table>
        </div>
    </div> 

    <div class="rounded-b-lg border-t border-gray-200 dark:border-white/10 px-0 pt-4">
        <ol class="flex justify-end gap-3 text-xs font-medium">
            <li class="block size-5 rounded border border-black/60 dark:border-white/80 text-center leading-5 text-black/60 dark:text-white/80">
            1
            </li>

            <li>
            <a
                href="#"
                class="block size-5 rounded border border-black/20 dark:border-white/20 text-center leading-5 text-black/25 dark:text-white/25">
                2
            </a>
            </li>

            <li>
            <a
                href="#"
                class="block size-5 rounded border border-black/20 dark:border-white/20 text-center leading-5 text-black/25 dark:text-white/25">
                3
            </a>
            </li>
            
            <li>
            <a
                href="#"
                class="block size-5 rounded border border-black/20 dark:border-white/20 text-center leading-5 text-black/25 dark:text-white/25">
                4
            </a>
            </li>          

            <li>
            <a
                href="#"
                class="inline-flex size-5 items-center justify-center text-gray-900 rtl:rotate-180">
                <span class="sr-only">Next Page</span>
                <svg class="w-5 h-5 text-black/30 dark:text-white/30" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                </svg>                
            </a>
            </li>
        </ol>
    </div>

    </div>
</div>

