{% load static %}
{% load filters %}

<div
    id="transaction"
    class="
        hidden
        fixed
        inset-0 z-50 
        justify-center items-center
        bg-background/20 dark:bg-black/40
        backdrop-blur-md">
  
    <div 
      class=
        "ring-1
        ring-primary/10
        dark:ring-white/15
        bg-white dark:bg-secondary
        shadow-xl
        p-4
        lg:w-4/12 sm:h-3/5
        md:w-7/12
        w-11/12 h-[75%]
        rounded-lg
        relative"> 

        <form action="{% url "finance:caixa" %}" method="POST" class="">
            {% csrf_token %}

            <input
                name="tipo"
                id="tipo"
                value=""
                class="px-1 text-black/45 dark:text-white/40 bg-transparent outline-none tracking-widest text-[14px] sm:text-[15px] text-start">
            </input>

            <div class="relative justify-center items-center px-1 pt-0 pb-2">
                <label class="flex text-black dark:text-white text-4xl text-start">
                    R$
                    <input
                        class="valor px-1 w-fit text-4xl outline-none bg-transparent text-black dark:text-white placeholder:text-black dark:placeholder:text-white"
                        name="valor"
                        id="valor"
                        inputmode="decimal"
                        placeholder="0,00">
                    </input>
                </label>
            </div>

            <div class="px-1 flex justify-start items-center">
                <p class="text-black/50 dark:text-white/50 text-xs">
                    <kbd>{{ current_date|date:"d M, Y" | upper }}</kbd>
                </p>
            </div>

            <div class="flow-root rounded-lg bg-background dark:bg-secondary ring-1 ring-black/10 dark:ring-white/20 py-2 mt-8 sm:mt-10">
                <dl class="-my-3 divide-y divide-black/5 text-sm">
                  <div class="p-3">
                    <dt class="text-black/70 dark:text-white/70 text-sm">
                        {{ transaction.conta | lower }}
                    </dt>
                  </div>
                </dl>
            </div>

            <div class="flow-root rounded-lg bg-background dark:bg-secondary ring-1 ring-black/10 dark:ring-white/20 py-2 mt-4 sm:mt-6">
                <dl class="-my-3 divide-y divide-black/5 dark:divide-white/5 text-sm">              
                  <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-black/70 dark:text-white/70">contato</dt>
                    <input
                        name="contato"
                        id="contato"
                        placeholder="..."
                        class="text-black/40 dark:text-white/40 bg-transparent outline-none sm:col-span-2 text-start sm:text-end">
                    </input>
                  </div>
              
                  <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-black/70 dark:text-white/70">descrição</dt>
                    <input
                        name="descricao"
                        id="descricao"
                        placeholder="..."
                        class="text-black/40 dark:text-white/40 bg-transparent outline-none sm:col-span-2 text-start sm:text-end">
                    </input>
                  </div>
              
                  <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-black/70 dark:text-white/70">categoria</dt>
                    <input
                        name="categoria"
                        id="categoria"
                        placeholder="..."
                        class="text-black/40 dark:text-white/40 bg-transparent outline-none sm:col-span-2 text-start sm:text-end">
                    </input>
                  </div>
                </dl>
            </div>

            <!--bottom-right svg-->  
            <div class="absolute bottom-3 right-1 text-sm leading-5">
                <p
                    class="
                        px-2
                        group
                        flex 
                        w-fit
                        items-center justify-center 
                        rounded-full">
                    <button
                        type="submit" 
                        name="add-transaction"
                        class="text-sm font-semibold text-black items-center dark:text-white">
                        <svg class="w-6 h-6 text-black/75 dark:text-white/75" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M5 11.917 9.724 16.5 19 7.5"/>
                        </svg>                                                            
                    </button>
                </p>
            </div>                   
        </form>

        <!--bottom-left svg-->  
        <div class="absolute bottom-3 left-3 text-sm leading-5">
            <p
                class="
                    group
                    flex 
                    h-fit w-fit
                    items-center justify-center 
                    aspect-square rounded-md">
                <a id="closeTransaction" href="javascript:history.back()">
                    <svg class="w-6 h-6 text-black/70 dark:text-white/70" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                    </svg>                                                   
                </a>
            </p>
        </div>         
  
    </div>
</div>

<script src="{% static "js/finance/transaction.js" %}"></script>