{% load static %}
{% load filters %}

<div
    id="transfer"
    class="
        hidden
        fixed
        inset-0 z-50 
        justify-center items-center
        bg-background/20 dark:bg-black/40
        backdrop-blur-md">
  
    <div 
      class=
        "ring-1
        ring-primary/10
        dark:ring-white/15
        bg-white dark:bg-secondary
        shadow-xl
        p-4
        lg:w-4/12 sm:h-3/5
        md:w-7/12
        w-11/12 h-[75%]
        rounded-2xl
        relative"> 

        <form action="{% url "finance:caixa" %}" method="POST" class="">
            {% csrf_token %}

            <input
                name="tipo"
                id="tipo"
                value="transferir"
                class="px-1 text-black/45 dark:text-white/40 bg-transparent outline-none tracking-widest text-[14px] sm:text-[15px] text-start">
            </input>

            <div class="relative justify-center items-center px-1 pt-0 pb-2">
                <label class="flex text-black dark:text-white text-4xl text-start">
                    R$
                    <input
                        required
                        class="valor px-1 w-fit text-4xl outline-none bg-transparent text-black dark:text-white placeholder:text-black dark:placeholder:text-white"
                        name="valor"
                        id="valor"
                        inputmode="decimal"
                        placeholder="0,00">
                    </input>
                </label>
            </div>

            <div class="px-1 flex justify-start items-center">
                <p class="text-black/50 dark:text-white/50 text-xs">
                    <kbd>{{ current_date|date:"d M, Y" | upper }}</kbd>
                </p>
            </div>

            <div class="flow-root justify-start rounded-lg bg-background/50 dark:bg-primary ring-1 ring-black/10 py-2 mt-8 sm:mt-10">
                <dl class="-my-3 divide-y divide-black/5">
                  <div class="p-3">
                    <dt class="text-black/70 dark:text-white/70 text-sm text-start">
                        {{ transaction.conta | lower }}
                    </dt>
                  </div>
                </dl>
            </div>          

            <div class="py-2 mt-4 flow-root rounded-lg bg-background/50 dark:bg-primary ring-1 ring-black/10">
                <dl class="-my-3 divide-y divide-black/5">
                  <div class="p-3">
                    <dt class="text-black/70 dark:text-white/70 text-sm">
                        <select
                            required
                            name="conta2"
                            id="conta2"
                            class="w-full bg-transparent text-start outline-none appearance-none">
                            <option value="">conta destino</option>
                            {% for bank in banks %}
                            <option value="{{ bank.id }}">{{ bank.name | lower }}</option>
                            {% endfor %}
                        </select>
                    </dt>
                  </div>
                </dl>
            </div>            

            <div class="flow-root rounded-lg bg-background/50 dark:bg-primary ring-1 ring-black/10 py-2 mt-4 sm:mt-4">
                <dl class="-my-3 divide-y divide-black/5 dark:divide-white/5 text-sm">
              
                  <div class="grid grid-cols-1 gap-1 p-3">
                    <dt class="text-black/70 dark:text-white/70">descrição</dt>
                    <input
                        name="descricao"
                        id="descricao"
                        value="transferência entre contas"
                        placeholder="..."
                        class="text-black/40 dark:text-white/40 bg-transparent outline-none sm:col-span-2 text-start">
                    </input>
                  </div>
              
                  <div class="hidden grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-black/70 dark:text-white/70">categoria</dt>
                    <input
                        name="categoria"
                        id="categoria"
                        value="transferência"
                        placeholder="..."
                        class="text-black/40 dark:text-white/40 bg-transparent outline-none sm:col-span-2 text-start sm:text-end">
                    </input>
                  </div>
                </dl>
            </div>

            <!--bottom-right submit button-->    
            <div class="absolute bottom-4 right-4 text-sm leading-5">
                <button
                    class="
                    group
                    flex 
                    p-1
                    items-center justify-center 
                    aspect-square rounded-md 
                    dark:shadow-thick 
                    ring-1 
                    ring-primary/15 hover:ring-primary/10
                    dark:ring-white/10 dark:hover:ring-white/20
                    duration-300 
                    transition-all
                    bg-white dark:bg-tertiary
                    hover:bg-zinc-100 dark:hover:bg-primary"                    
                    type="submit" 
                    name="add-transaction">
                    <svg class="size-[18px] stroke-black/55 dark:stroke-white/60" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                    </svg>                                                         
                </button>
            </div>                                   
        </form>

        <!--bottom-left closeTransfer button-->  
        <div class="absolute bottom-4 left-4 text-sm leading-5">
            <p
                class="
                group
                flex 
                p-1
                items-center justify-center 
                aspect-square rounded-md 
                dark:shadow-thick 
                ring-1 
                ring-primary/15 hover:ring-primary/10
                dark:ring-white/10 dark:hover:ring-white/20
                duration-300 
                transition-all
                bg-white dark:bg-tertiary
                hover:bg-zinc-100 dark:hover:bg-primary">
                <a id="closeTransfer" href="javascript:history.back()">
                    <svg class="size-[18px] text-black/55 dark:text-white/60" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M6 18 17.94 6M18 18 6.06 6"/>
                    </svg>                                                   
                </a>
            </p>
        </div>          
  
    </div>
</div>

<script src="{% static "js/finance/transfer.js" %}"></script>