{% load static %}
{% load filters %}

<div
    id="transaction"
    class="
        hidden
        fixed
        inset-0 z-50 
        justify-center items-center
        bg-black/70
        backdrop-blur-md">
  
    <div 
      class=
        "ring-1
        ring-primary/10
        dark:ring-white/15
        bg-white dark:bg-secondary
        p-4
        lg:w-5/12 sm:h-3/5
        md:w-8/12
        w-11/12 h-[75%]
        rounded-lg
        relative">
  
        <button id="closeTransaction" class="absolute top-4 right-4 text-lg text-black px-4 py-2 rounded"></button>

        <!--empty top-left info-->
        <div class="w-full">
            <p 
                class="
                text-xl font-normal lg:text-8xl tracking-tight 
                text-primary dark:text-white"> 
                    
                <div class="relative flex items-center gap-4">
                </div>
            </p>
        </div>       

        <form action="{% url "finance:caixa" %}" method="POST" class="">
            {% csrf_token %}

            <input
                name="tipo"
                id="tipo"
                value="entrada"
                class="text-white dark:text-secondary bg-transparent outline-none text-xs text-start">
            </input>

            <div class="relative justify-center items-center px-1 pt-1 pb-2">
                <label class="flex text-black/40 dark:text-white/50 text-4xl text-start">
                    R$
                    <input
                        class="px-1 w-fit text-4xl outline-none bg-transparent text-black dark:text-white placeholder:text-black/40 dark:placeholder:text-white/50"
                        name="valor"
                        id="valor"
                        inputmode="decimal"
                        placeholder="00,00">
                    </input>
                </label>
            </div>

            <div class="px-1 flex justify-start items-center">
                <p class="text-black/50 dark:text-white/50 text-xs">
                    <kbd>14 NOV, 2024</kbd>
                </p>
            </div>

            <div class="flow-root rounded-lg bg-background dark:bg-secondary ring-1 ring-black/10 dark:ring-white/20 py-2 mt-8 sm:mt-10">
                <dl class="-my-3 divide-y divide-black/5 text-sm">
                  <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-1 sm:gap-4">
                    <dt class="text-black/60 dark:text-white/50 text-base sm:text-lg w-full text-center">
                        {{ transaction.conta }}
                    </dt>
                  </div>
                </dl>
            </div>

            <div class="flow-root rounded-lg bg-white dark:bg-secondary ring-1 ring-black/10 dark:ring-white/20 py-2 mt-4 sm:mt-6">
                <dl class="-my-3 divide-y divide-black/5 dark:divide-white/5 text-sm">              
                  <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-black/60 dark:text-white/50">contato</dt>
                    <input
                        name="contato"
                        id="contato"
                        placeholder="..."
                        class="text-black/40 dark:text-white/40 bg-transparent outline-none sm:col-span-2 text-start sm:text-end">
                    </input>
                  </div>
              
                  <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-black/60 dark:text-white/50">descrição</dt>
                    <input
                        name="descricao"
                        id="descricao"
                        placeholder="..."
                        class="text-black/40 dark:text-white/40 bg-transparent outline-none sm:col-span-2 text-start sm:text-end">
                    </input>
                  </div>
              
                  <div class="grid grid-cols-1 gap-1 p-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="text-black/60 dark:text-white/50">categoria</dt>
                    <input
                        name="categoria"
                        id="categoria"
                        placeholder="..."
                        class="text-black/40 dark:text-white/40 bg-transparent outline-none sm:col-span-2 text-start sm:text-end">
                    </input>
                  </div>
                </dl>
            </div>

            <!--bottom-right svg-->  
            <div class="absolute bottom-5 right-4 text-sm leading-5">
                <p
                    class="
                        ring-1 ring-black/10 dark:ring-white/10
                        px-2
                        group
                        flex 
                        w-fit
                        items-center justify-center 
                        rounded-md">
                    <button
                        type="submit" 
                        name="add-transaction"
                        class="text-sm font-semibold text-black items-center dark:text-white">
                        receber                                  
                    </button>
                </p>
            </div>                   
        </form>

        <!--bottom-left svg-->  
        <div class="absolute bottom-4 left-4 text-sm leading-5">
            <p
                class="
                    group
                    flex 
                    h-fit w-fit
                    items-center justify-center 
                    aspect-square rounded-md">
                <a href="{% url "erp:index" %}">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
                    </svg>                                  
                </a>
            </p>
        </div>         
  
    </div>
</div>

<script src="{% static "js/finance/transaction.js" %}"></script>
<script src="https://unpkg.com/imask"></script>
<script>
    const valorInput = document.getElementById('valor');
    IMask(valorInput, {
        mask: Number,
        scale: 2,            // Number of decimal places
        thousandsSeparator: '.', // Thousands separator
        radix: ',',           // Decimal separator
        padFractionalZeros: true, // Ensure 2 decimal places
    });
</script>