<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}DEPOC{% endblock title %}</title>
    <link
      rel="icon"
      type="image/x-ico"
      href="{% static "assets/favicon.ico" %}">
    <link 
      rel="apple-touch-icon" 
      sizes="180x180" 
      href="{% static "assets/apple-touch-icon.png" %}">
    <link 
      rel="icon" 
      type="image/png" 
      sizes="32x32" 
      href={% static "assets/favicon-32x32.png" %}>
    <link 
      rel="icon" 
      type="image/png" 
      sizes="16x16" 
      href={% static "assets/favicon-16x16.png" %}>
    <script>
        {% comment %}
        if I remove this code it stops flashing the dark mode while on light mode
        but it beggins the flash white mode on dark
        {% endcomment %}
        (function() {
            const userTheme = localStorage.getItem("theme") || "dark";
            if (userTheme === "dark") {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        })();
    </script>      
    <link rel="stylesheet" href="{% static "output.css" %}" type="text/css">
</head>
<body class="dark:bg-primary bg-background">
  <section class="flex flex-col">
    <div class="p-4 flex-grow overflow-auto">
      <div
        class="
          list-none
          grid grid-cols-2 gap-2
          md:grid-cols-2
          lg:grid-cols-3 lg:grid-rows-3
          xl:grid-cols-4 xl:grid-rows-4">
        
        {% block content %}
        {% endblock content %}
      </div>
        {% block page %}
        {% endblock page %}
    </div>
  </section>

  <script src="{% static "js/themeSwitch.js" %}"></script>
  <script src="{% static "js/shortcuts.js" %}"></script>
</body>
</html>