{% load filters %}

<div
    class="
        ring-1 
        dark:ring-white/10 
        ring-primary/5 
        rounded-lg
        justify-between 
        dark:shadow-thick 
        items-end 
        md:flex 
        flex-col
        hidden
        p-4
        h-full
        bg-white
        dark:bg-secondary
        relative">

    <!--user info-->
    <div class="w-full">
        <p 
            class="
            text-xl font-normal lg:text-8xl tracking-tight 
            text-primary dark:text-white"> 

            <div class="relative flex items-center gap-x-4">
                <div class="flex gap-x-1 justify-center">
                    <button
                        class="
                        w-9 h-9
                        rounded-md
                        text-zinc-700
                        bg-black/5
                        dark:text-zinc-100
                        dark:bg-tertiary">
                        {{ request.user.name | first}}
                    </button>
                </div>
                <div class="text-sm leading-5">
                    <p class="font-semibold text-primary dark:text-white">
                    <a href="{% url "erp:index" %}">
                        <span class="absolute inset-0"></span>
                        {{ request.user.name | first_name }}
                    </a>
                    </p>
                    <p class="text-zinc-500 dark:text-zinc-400">
                        {{ request.user.email }}
                    </p>
                </div>
            </div>
        </p>
    </div>   
    
    <!--user edit button-->
    <div class="absolute top-0 right-0 p-4 text-xl leading-5">
            <div class="relative inline-block group">
                <button 
                    id="settingsButton" 
                    class="text-black dark:text-white">
                    ...
                </button>

                {% comment %}
                <!--dropdown-->
                <div class="absolute -top-1">
                    <div
                        class="
                            relative
                            ml-5
                            left-0
                            hidden
                            group-hover:block
                            aspect-square
                            ring-1 
                            ring-primary/5 hover:ring-primary/5
                            dark:ring-white/10 dark:hover:ring-white/20
                            duration-300
                            transition-all
                            group
                            end-0 z-10 w-[125px]
                            divide-y divide-black/10 dark:divide-white/15
                            rounded-lg
                            border border-black/10 
                            bg-white/25 dark:bg-secondary/60
                            backdrop-blur-md     
                            shadow-md"
                        role="menu">

                        <div class="p-1">
                        <a
                            href="{% url "erp:index" %}"
                            class="
                            block
                            rounded-md
                            px-4 py-1
                            text-[13px]
                            text-zinc-500 dark:text-zinc-400
                            hover:bg-black/5 hover:text-zinc-600 
                            dark:hover:bg-tertiary dark:hover:text-zinc-200"
                            role="menuitem">
                            😗
                        </a>

                        <a
                            href="{% url "erp:password_change" %}"
                            class="
                            block
                            rounded-md
                            px-4 py-1
                            text-[13px]
                            text-zinc-500 dark:text-zinc-400
                            hover:bg-black/5 hover:text-zinc-600 
                            dark:hover:bg-tertiary dark:hover:text-zinc-200"
                            role="menuitem">
                            alterar senha
                        </a>                        


                        <button
                            type="submit"
                            id="settingsButton"
                            class="
                                flex
                                w-full
                                items-center
                                gap-2
                                rounded-md
                                px-4 py-1
                                text-[13px] 
                                text-zinc-500 dark:text-zinc-400
                                hover:bg-black/5 hover:text-zinc-600 
                                dark:hover:bg-tertiary dark:hover:text-zinc-200"
                            role="menuitem">          
                            ajustes
                        </button>
                        </div>

                        <div class="p-1">
                            <form 
                                action="{% url "users:logout" %}"
                                method="POST">
                                {% csrf_token %}
                                <button
                                    type="submit"
                                    class="
                                        flex
                                        w-full
                                        items-center
                                        gap-2
                                        rounded-md
                                        px-4 py-1
                                        text-[13px] 
                                        text-zinc-500 dark:text-zinc-400
                                        hover:bg-black/5 hover:text-zinc-600 
                                        dark:hover:bg-tertiary dark:hover:text-zinc-200"
                                    role="menuitem">          
                                    sair
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endcomment %}                   
            </div>
    </div>

    <!--atalho a-->
    <div class="absolute bottom-0 left-0 p-4 leading-4">
            <span class="text-[12px] text-zinc-400">
                atalho para ajustes
            </span>
            <kbd 
                class="
                    px-[5px] py-[2px]
                    text-xs
                    text-zinc-500
                    bg-black/5 border 
                    border-zinc-300 
                    rounded-md
                    dark:bg-tertiary
                    dark:text-white/60
                    dark:border-white/20">
                a
            </kbd>
    </div>

</div>