{% load static %}

<div
    id="password"
    class="
            hidden
            fixed
            inset-0 z-50 
            justify-center items-center
            bg-black/20">

    <div 
        class=
            "ring-1
            ring-primary/10
            dark:ring-white/15
            bg-white/100 dark:bg-secondary
            p-6 
            sm:w-5/12 sm:h-2/5
            w-10/12 h-2/5
            rounded-xl
            shadow-xl
            relative">

        <button id="closePassword" class="absolute top-4 right-4 text-lg text-black px-4 py-2 rounded"></button>

        <kbd class="flex text-xl font-semibold mt-4 justify-center">
            alterar senha
        </kbd>

        <form
            method="POST"
            class="ml-auto mr-auto mt-4 md:w-10/12 lg:w-1/2">
            {% csrf_token %}
            <!-- old_password -->
            <div class="border border-zinc-300 focus-within:border-black dark:focus-within:border-zinc-300 dark:border-zinc-700 bg-white dark:bg-tertiary rounded-md">
                <div class="relative flex items-center justify-between p-1">
                    <label for="old_password" class="text-xs text-zinc-500 dark:text-zinc-400"></label>
                    <input 
                        autofocus
                        type="password" 
                        id="old_password" 
                        name="old_password" 
                        class="w-full text-xs text-black/80 dark:text-white/60 p-2 bg-transparent outline-none" 
                        placeholder="antiga senha" />
                </div>
            </div>
        
            <!-- new_password1 -->
            <div class="mt-4 border border-zinc-300 focus-within:border-black dark:focus-within:border-zinc-300 dark:border-zinc-700 bg-white dark:bg-tertiary rounded-md">
                <div class="relative flex items-center justify-between p-1">
                    <label for="new_password1" class="text-xs text-zinc-500 dark:text-zinc-400"></label>
                    <input 
                        type="password" 
                        id="new_password1" 
                        name="new_password1" 
                        class="w-full text-xs text-black/80 dark:text-white/60 p-2 bg-transparent outline-none" 
                        placeholder="nova senha" />
                </div>
            </div>

            <!-- new_password2 -->
            <div class="mt-4 border border-zinc-300 focus-within:border-black dark:focus-within:border-zinc-300 dark:border-zinc-700 bg-white dark:bg-tertiary rounded-md">
                <div class="relative flex items-center justify-between p-1">
                    <label for="new_password2" class="text-xs text-zinc-500 dark:text-zinc-400"></label>
                    <input 
                        type="password" 
                        id="new_password2" 
                        name="new_password2" 
                        class="w-full text-xs text-black/80 dark:text-white/60 p-2 bg-transparent outline-none" 
                        placeholder="confirme nova senha" />
                </div>
            </div>            
        
            <!-- Submit Button -->
            <div class="mt-4 text-start">
                <button 
                    type="submit" 
                    class="text-xs rounded-md px-4 py-1 ring-1 ring-black/80 dark:ring-white/70 bg-white dark:bg-tertiary hover:bg-zinc-50 dark:hover:bg-primary text-black/80 dark:text-white/70">
                    alterar
                </button>
            </div>
        </form>        
    </div>
</div>

<script src="{% static "js/password.js" %}"></script>