{% load static %}

<div
    id="password"
    class="
            hidden
            fixed
            inset-0 z-50 
            justify-center items-center
            bg-black/60">

    <div 
        class=
            "ring-1
            ring-primary/10
            dark:ring-white/15
            bg-white/100 dark:bg-secondary
            p-6 
            sm:w-5/12 sm:h-2/5
            w-9/12 h-2/5
            rounded-xl
            relative">

        <button id="closePassword" class="absolute top-4 right-4 text-lg text-black px-4 py-2 rounded"></button>

    </div>
</div>

<script src="{% static "js/password.js" %}"></script>