{% extends "base.html" %}
{% load static %}
{% load filters %}

{% block page %}

<div
class="
  list-none
  grid grid-cols-2 gap-2
  md:grid-cols-2
  lg:grid-cols-2 lg:grid-rows-1
  xl:grid-cols-2 xl:grid-rows-1">

    {% include "finance/common/_header.html" %}
    {% include "finance/common/_accounts.html" %}
    {% include "finance/common/_detail.html" %}

    <div class="
    overflow-hidden
    sm:px-3
    col-span-2
    relative">

    <div class="
        relative
        overflow-auto
        flex">

        <!--filter buttons-->
        <div class="overflow-x-auto px-2 pb-1 pt-6 sm:pt-8 flex gap-3 no-scrollbar">
          <button id=""
            class="
            tracking-wide
            px-3 sm:px-3 py-[1.5px] sm:py-[3px]
            ring-1
            text-[13px]
            text-black/40 dark:text-white/55
            ring-black/10 dark:ring-white/20
            relative  
            rounded-full
            dark:bg-primary         
            flex-shrink-0">    
            <span class="">hoje</span>
          </button>  
          <button id=""
            class="
            tracking-wide
            px-3 sm:px-3 py-[1.5px] sm:py-[3px]
            ring-1
            text-[13px]
            bg-blue-50 dark:bg-blue-950
            text-blue-500 dark:text-blue-200
            ring-blue-500 dark:ring-blue-500
            relative  
            rounded-full        
            flex-shrink-0">  
              <span class="">semana</span>
          </button>  
          <button id=""
            class="
            tracking-wide
            px-3 sm:px-3 py-[1.5px] sm:py-[3px]
            ring-1
            text-[13px]
            text-black/40 dark:text-white/55
            ring-black/10 dark:ring-white/20
            relative  
            rounded-full
            dark:bg-primary         
            flex-shrink-0">    
              <span class="">novembro</span>
          </button>    
          <button id=""
            class="
            tracking-wide
            px-3 sm:px-3 py-[1.5px] sm:py-[3px]
            ring-1
            text-[13px]
            text-black/40 dark:text-white/55
            ring-black/10 dark:ring-white/20
            relative  
            rounded-full
            dark:bg-primary         
            flex-shrink-0">  
              <span class="">período</span>
          </button>                                               
        </div>    
    </div>
</div>

    {% include "finance/common/_history.html" %}


    {% include "erp/common/_menu.html" %}
    {% include "erp/common/_settings.html" %}
</div>

{% endblock page %}
