{% extends "base.html" %}
{% load static %}
{% load filters %}

{% block page %}

<div
class="
  list-none
  grid grid-cols-2 gap-2
  md:grid-cols-2
  lg:grid-cols-2 lg:grid-rows-1
  xl:grid-cols-2 xl:grid-rows-1">

    {% include "finance/common/_header.html" %}
    {% include "finance/common/_accounts.html" %}
    {% include "finance/common/_detail.html" %}

    <div class="
    overflow-hidden
    sm:px-3
    col-span-2
    relative">

    <div class="
        relative
        overflow-auto
        flex">

        <div class="overflow-x-auto px-2 pb-1 pt-6 sm:pt-8 flex gap-3 no-scrollbar">
          <button id=""
            class="
            px-2
            ring-1
            text-sm
            text-black/30
            ring-black/30 dark:ring-white/10
            relative  
            rounded-md
            dark:bg-primary         
            flex-shrink-0">    
            hoje
          </button>  
          <button id=""
              class="
              px-2
              ring-1
              text-sm
              text-black/30
              ring-black/30 dark:ring-white/10
              relative  
              rounded-md
              dark:bg-primary         
              flex-shrink-0">    
              semana
          </button>  
          <button id=""
              class="
              px-2
              ring-1
              text-sm
              text-black/30
              ring-black/30 dark:ring-white/10
              relative  
              rounded-md
              dark:bg-primary         
              flex-shrink-0">    
              novembro
          </button>    
          <button id=""
              class="
              px-2
              ring-1
              text-sm
              text-black/30
              ring-black/30 dark:ring-white/10
              relative  
              rounded-md
              dark:bg-primary         
              flex-shrink-0">    
              período
          </button>                                               
        </div>    
    </div>
</div>

    {% include "finance/common/_history.html" %}


    {% include "erp/common/_menu.html" %}
    {% include "erp/common/_settings.html" %}
</div>

{% endblock page %}
